.container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  height: 87dvh;
  background-color: #250256;
}

.teams {
  display: flex;
  flex: 1;
  /* min-width: min(100%, 10em); */
  justify-content: center;
  align-items: center;
}

.play-ground {
  flex: 2;
  min-width: min(100%, 20em);
  margin: 10px;
}

.header,
.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50px;
  background-color: #61008d;
}
.table {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}
.table-div {
  border: 2px solid black;
  border-radius: 10px;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 40, 0.5);
  margin: 5px;
}
.table-div:nth-child(2n + 1) {
  background-color: rgba(40, 0, 0, 0.5);
}
.player {
  margin: 10px;
  height: 100px;
  background-color: transparent;
  box-shadow: 0px 0px 10px #ff0000 inset;
  border: 2px solid #ff0000;
  border-radius: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.--player2 {
  background-color: transparent;
  box-shadow: 0px 0px 10px #3700ff inset;
  border: 2px solid #1900ff;
  border-radius: 20px;
}
.imge-players {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}
.users {
  margin: 10px;
}
.header h1 {
  font-size: 3em;
}
.info-player-1,
.info-player-2 {
  color: #d7f4ff;
}
.shadow {
  box-shadow: 5px -5px 20px 1px #ff0000, -5px 5px 20px 1px #3700ff;
}
.text-shadow {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 0px #fff, 0 0 0px #0fa,
    0 0 0px #0fa, 0 0 0px #0fa, 0 0 0px #0fa, 0 0 0px #0fa;
  font-weight: bold;
}
.btn {
  background-color: transparent;
  border-radius: 5px;
}
.input-name-player-1,
.input-name-player-2 {
  background-color: transparent;
}
.input-name-player-1::placeholder,
.input-name-player-2::placeholder {
  color: #fff;
  text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #0fa,
    0 0 0px rgb(0, 0, 0), 0 0 0px #0fa, 0 0 0px #0fa, 0 0 0px #0fa;
}

#input-name-player-1 option {
  background: #250256;
  color: rgb(243, 76, 76);
}
#input-name-player-2 option {
  background: #250256;
  color: rgb(108, 108, 247);
}

.o {
  background-image: url(./assets/o.gif);
  background-size: 100% 100%;
  background-repeat: none;
}
.x {
  background-image: url(./assets/x.gif);
  background-size: 100% 100%;
  background-repeat: none;
}
.modal {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s;
}
.is-active {
  display: flex;
}
.modal-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 10%;
  margin-top: 15em;
  width: 80%;
  height: 30%;
  background-color: transparent;
  box-shadow: 0px 0px 10px #ff00f2 inset;
  border: 2px solid #ff00b7;
  border-radius: 20px;
  gap: 20px;
}
.modal-container h2 {
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 0px #fff, 0 0 0px #0fa,
    0 0 0px #0fa, 0 0 0px #0fa, 0 0 0px #0fa, 0 0 0px #0fa;
  font-weight: bold;
  font-size: clamp(2em, 4vw, 5em);
}
.modal-container button {
  background-color: transparent;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 0px #fff, 0 0 0px #0fa,
    0 0 0px #0fa, 0 0 0px #0fa, 0 0 0px #0fa, 0 0 0px #0fa;
  box-shadow: 0px 0px 10px #ff00f2 inset;
  border: 2px solid #ff00b7;
  font-weight: bold;
  font-size: clamp(1.5em, 4vw, 2em);
  width: 50%;
  border-radius: 15px;
}
.modal-container button:hover {
  scale: 1.1;
  border-radius: 25px;
}
